 html {
    background-color: darkblue;
  }
  html p {
    margin-bottom: 0px;
     background-color: darkblue;
  }
select {
  display: block;
  margin-bottom: 20px;
}
p {
  text-align: center;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}
  
label {
    display: block;
    margin-right: 0.5rem;
}
  label {
    color: black;
    font-size: 20px;
  }
   select {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
    padding: 10px 10px;
  }

